# ClickHouse
CLICKHOUSE_USER=myuser
CLICKHOUSE_PASSWORD=your-strong-password

# Metabase internal DB (Postgres)
MB_DB_CONNECTION_URI=jdbc:postgresql://<HOST>/<DB>?user=<USER>&password=<PASS>&sslmode=require

# Metabase extra configs
MB_PLUGINS_DIR=/plugins
MB_EMBEDDING_APP=true
