# Docker Service Ports (used by docker-compose.yml and auto-injected into services by ecosystem.config.js)
KAFKA_PORT=29092
CLICKHOUSE_PORT=8123
METABASE_PORT=3000

# ClickHouse
CLICKHOUSE_USER=myuser
CLICKHOUSE_PASSWORD=your-strong-password

# Metabase internal DB (Postgres)
MB_DB_CONNECTION_URI=jdbc:postgresql://<HOST>/<DB>?user=<USER>&password=<PASS>&sslmode=require

# Metabase extra configs
MB_PLUGINS_DIR=/plugins
MB_EMBEDDING_APP=true
