# Node
node_modules/
package-lock.json

# Build outputs
build/
dist/
.next/
.out/
.vercel/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

# PM2
pids/

# Editor/IDE configs
.vscode/
.idea/
*.sln
*.suo
*.ntvs*
*.njsproj

# OS-specific
.DS_Store
Thumbs.db

# Project-specific (gRPC clients)
packages/grpc-account/client/
packages/grpc-events/client/
.DS_Store
**/.DS_Store
